
<h2>Liste des CVs:</h2>
<div class="Liste">
  <ul class="list-group">
    <li class="list-group-item" (click)="SendToFather(Personnes[0])"><app-item-component [CvPersonne1]="Personnes[0]"></app-item-component></li>
    <li class="list-group-item" (click)="SendToFather(Personnes[1])"><app-item-component [CvPersonne1]="Personnes[1]"></app-item-component></li>
    <li class="list-group-item" (click)="SendToFather(Personnes[2])"><app-item-component [CvPersonne1]="Personnes[2]"></app-item-component></li>
  </ul>
</div>

